@model SBD_Projekt.Models.Obsluga

@{
    ViewData["Title"] = "Edytuj";
}

    <h1>Edytuj</h1>

<h4>Obsluga</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id_obsluga" />
            <div class="form-group">
                <label asp-for="id_osoba" class="control-label"></label>
                @if (ViewBag.OsobasCount > 0)
                {
                    <select asp-for="id_osoba" class="form-control" asp-items="ViewBag.Osoba"></select>
                }
                else
                {
                    <p class="form-text text-danger">Brak osób w bazie danych</p>
                }
                <span asp-validation-for="id_osoba" class="text-danger"></span>
                <input class="btn btn-primary" type="button" value="Stwórz nową osobę" onclick="window.location.href = '@Url.Action("Create", "Osobas")'" />
            </div>
            <div class="form-group">
                <label asp-for="id_zarobki" class="control-label"></label>
                @if (ViewBag.ZarobkisCount > 0)
                {
                    <select asp-for="id_zarobki" class="form-control" asp-items="ViewBag.Zarobki"></select>
                }
                else
                {
                    <p class="form-text text-danger">Brak zarobków w bazie danych</p>
                }
                <span asp-validation-for="id_zarobki" class="text-danger"></span>
                <input class="btn btn-primary" type="button" value="Stwórz nowy zarobek" onclick="window.location.href = '@Url.Action("Create", "Zarobkis")'" />
            </div>
            <div class="form-group">
                <label asp-for="id_godziny" class="control-label"></label>
                @if (ViewBag.GodziniesCount > 0)
                {
                    <select asp-for="id_godziny" class="form-control" asp-items="ViewBag.Godziny"></select>
                }
                else
                {
                    <p class="form-text text-danger">Brak godzin w bazie danych</p>
                }
                <span asp-validation-for="id_godziny" class="text-danger"></span>
                <input class="btn btn-primary" type="button" value="Stwórz nowe godziny" onclick="window.location.href = '@Url.Action("Create", "Godzinies")'" />
            </div>
            <div class="form-group">
                <label asp-for="typ" class="control-label"></label>
                <input asp-for="typ" class="form-control" />
                <span asp-validation-for="typ" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Zapisz" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Wróć do listy</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
