@{
    ViewData["Title"] = "Strona główna";
}

    <div class="text-center">
        <h1 class="display-4">Witamy na stronie naszej kancelarii! </h1>
        <p> Dzięki niej łatwiej będzie zorganizować pracę kancelarii!</p>
       
            <img src="https://lh3.googleusercontent.com/VvzLBK5COPkbUG4tvRJQTFwXwJ_6zFn4TrKx7F1w48butzM0nKUuNhvsREE98s2_RINMbNM4=w1080-h608-p-no-v0" width="400px" style="align: center" />     

     
    </div>
