@model SBD_Projekt.Models.Klient

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Klient</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="id_osoba" class="control-label"></label>
                @if (ViewBag.OsobasCount > 0)
                {
                    <select asp-for="id_osoba" class="form-control" asp-items="ViewBag.Osoba"></select>
                }
                else
                {
                    <p class="form-text text-danger">Brak osób w bazie danych</p>
                }
                <span asp-validation-for="id_osoba" class="text-danger"></span>
                <input class="btn btn-primary" type="button" value="Stwórz nową osobę" onclick="window.location.href = '@Url.Action("Create", "Osobas")'" />
            </div>
            <div class="form-group">
                <label asp-for="id_prawnik" class="control-label"></label>
                @if (ViewBag.PrawniksCount > 0)
                {
                    <select asp-for="id_prawnik" class="form-control" asp-items="ViewBag.Prawnik"></select>
                }
                else
                {
                    <p class="form-text text-danger">Brak prawników w bazie danych</p>
                }
                <span asp-validation-for="id_prawnik" class="text-danger"></span>
                <input class="btn btn-primary" type="button" value="Stwórz nowego prawnika" onclick="window.location.href = '@Url.Action("Create", "Prawniks")'" />
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
