@model SBD_Projekt.Models.Godziny

@{
    ViewData["Title"] = "Dodaj";
}

<h1>Dodaj</h1>

<h4>Godziny</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="OdGodziny" class="control-label"></label>
                <input asp-for="OdGodziny" class="form-control" />
                <span asp-validation-for="OdGodziny" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DoGodziny" class="control-label"></label>
                <input asp-for="DoGodziny" class="form-control" />
                <span asp-validation-for="DoGodziny" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Dodaj" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Wróć do listy</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
