@model SBD_Projekt.Models.Dowod

@{
    ViewData["Title"] = "Dodaj";
}

<h1>Dodaj</h1>

<h4>Dowod</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nazwa" class="control-label"></label>
                <input asp-for="Nazwa" class="form-control" />
                <span asp-validation-for="Nazwa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Typ" class="control-label"></label>
                <input asp-for="Typ" class="form-control" />
                <span asp-validation-for="Typ" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="id_rozprawy" class="control-label"></label>
                @if (ViewBag.RozprawaCount > 0)
                {
                    <select asp-for="id_rozprawy" class="form-control" asp-items="ViewBag.Rozprawa"></select>
                }
                else
                {
                    <p class="form-text text-danger">Brak rozpraw w bazie danych</p>
                }
                <span asp-validation-for="id_rozprawy" class="text-danger"></span>
                <input class="btn btn-primary" type="button" value="Stwórz nową rozprawę" onclick="window.location.href = '@Url.Action("Create", "Rozprawas")'" />
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Wróć do listy</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
