@model SBD_Projekt.Models.Spotkanie

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Spotkanie</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id_spotkanie" />
            <div class="form-group">
                <label asp-for="id_sali" class="control-label"></label>
                <input asp-for="id_sali" class="form-control" />
                <span asp-validation-for="id_sali" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="id_godziny" class="control-label"></label>
                <input asp-for="id_godziny" class="form-control" />
                <span asp-validation-for="id_godziny" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="id_prawnik" class="control-label"></label>
                <input asp-for="id_prawnik" class="form-control" />
                <span asp-validation-for="id_prawnik" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="id_klient" class="control-label"></label>
                <input asp-for="id_klient" class="form-control" />
                <span asp-validation-for="id_klient" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
